.login-container {
    display: flex;
    flex-direction: row;
    background-color: #d5e4f3;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 35px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
}

.image img {
    width: 100%;
    margin: 25px;
    object-fit: cover;
}

.login-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
    padding-bottom: 0px;
    align-items: center;
}

.login-info h1 {
    font-size: 2.2rem;
}

.login-info p {
    font-size: 1.2rem;
}

.login-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0px 35px;
    background-color: rgba(231, 165, 3, 0.8);
    border-radius: 25px;
}

.login-details h1 {
    color: #eeeeee;
}
.login-input-container {
    background-color: #fff;
    width: 70%;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-fields {
    margin-bottom: 15px;
}


.input-fields label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-fields input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #E7A503;
    color: #fff;
    font-size: 1.3rem;
    width: auto;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    transition: all 0.2s ease-in-out;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #125875;
}